.login-page .email-input, .password-input, .firstName-input, .lastName-input {
  border-radius: 40px;
  font-size: 20px;
  padding-left: 15px;
  color: #95A5A6;
}

.login-page .icon.user,
.login-page .icon.password {
  margin: 5px 10px 0 0;
}

.login-page .avatar img {
  border-radius: 100px;
  padding: 5px;
  border: 1px solid #dbdbdb;
}

.login-page .forgot-password a {
  color: #95A5A6;
  font-weight: bold;
  padding-right: 20px;
}

.login-page .login {
  padding-top: 20px;
}

.login-page .login button {
  border-radius: 40px;
  font-weight: bold;
}

.login-page .hero-body .container {
  margin-top: -100px;
}

.login-page .hero.is-dark .section {
  background-color: transparent;
}

.login-page .login-wrapper {
  margin: -0.75rem;
  overflow-y: hidden;
}


.login-page .hero-banner .title {
  display: inline-block;
  background-color: rgba(0,0,0, 0.6);
  padding: 5px;
}
